# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ko-snippet-sync
ko-snippet-sync.dmg
ko-snippet-sync.zip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# kbs directory
kbs

# Env file
.env

# Signing App Config
gon_config.json
